@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

/* header section style */
.header {
    display: flex;
    flex-basis: 100%;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.header .logo {
    height: 35px;
    width: auto;
}

.logo img {
    height: 100%;
}

.header .nav a {
    padding: 10px 0;
    margin-left: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.header .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .login a {
    margin-left: 10px;
}

.header .login .login-btn {
    background: #f1f1f1;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}

.header .login .start-btn {
    background: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 20px;
}

.header .login .globe {
    width: 36px;
    height: 36px;
}

.header .login .globe .globe-img {
    height: 90%;
    width: auto;
    margin-top: 2px;
}

/* hero section style */
.hero-section {
    width: 100%;
    height: 530px;
    background-image: url(images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: comer;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .container {
        width: 90%;
        height: 300px;
        background-color: #fff;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        padding: 30px;

        & .form {
            display: flex;
            flex-direction: column;

            & h1 {
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 40px;
            }
            
            .row1 {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                padding: 0 60px;

                & select {
                    flex-basis: 25%;
                    background-color: #cfcfcf;
                    padding: 8px 18px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    appearance: none;
                    -webkit-appearance: none;
                    background-image: url(images/Vector.png);
                    background-repeat: no-repeat;
                    background-position: right 20px center;
                    margin-bottom: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    }
                }
            }

            .row2 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 0 60px;

                & input {
                    background-color: #cfcfcf;
                    padding: 8px 18px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    flex-basis: 75%;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 500;
                }

                button {
                    flex-basis: 25%;
                    border: none;
                    outline: none;
                    border-radius: 30px;
                    padding: 8px 18px;
                    background: #00EBC7;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

        .hero-btn {
            padding: 8px 18px;
            margin-top: 30px;
            border: 1px solid #fff;
            border-radius: 25px;
    
            & a {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
            }
            
            hr {
                color: #fff;
                width: 100%;
            }
        }
}



/* favorite section style */
.favorite {
    width: 100%;
    height: 350px;
    background-color: #FDE24F;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    & h3 {
        font-size: 34px;
        font-weight: 500;

        & span {
            font-style: italic;
            font-weight: 400;
        }
    }

    img {
        width: 100%;
    }
}