@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

/* header section style */
.header {
    display: flex;
    flex-basis: 100%;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.header .logo {
    height: 35px;
    width: auto;
}

.logo img {
    height: 100%;
}

.header .nav a {
    padding: 10px 0;
    margin-left: 10px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.header .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .login a {
    margin-left: 10px;
}

.header .login .login-btn {
    background: #f1f1f1;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}

.header .login .start-btn {
    background: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 20px;
}

.header .login .globe {
    width: 36px;
    height: 36px;
}

.header .login .globe .globe-img {
    height: 90%;
    width: auto;
    margin-top: 2px;
}

/* hero section style */
.hero-section {
    width: 100%;
    height: 530px;
    background-image: url(images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: comer;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .container {
        width: 90%;
        height: 300px;
        background-color: #fff;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        padding: 30px;

        & .form {
            display: flex;
            flex-direction: column;

            & h1 {
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 40px;
            }
            
            .row1 {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                padding: 0 60px;

                & select {
                    flex-basis: 25%;
                    background-color: #cfcfcf;
                    padding: 8px 18px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    appearance: none;
                    -webkit-appearance: none;
                    background-image: url(images/Vector.png);
                    background-repeat: no-repeat;
                    background-position: right 20px center;
                    margin-bottom: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    }
                }
            }

            .row2 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 0 60px;

                & input {
                    background-color: #cfcfcf;
                    padding: 8px 18px;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    flex-basis: 75%;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 500;
                }

                button {
                    flex-basis: 25%;
                    border: none;
                    outline: none;
                    border-radius: 30px;
                    padding: 8px 18px;
                    background: #00EBC7;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

        .hero-btn {
            padding: 8px 18px;
            margin-top: 30px;
            border: 1px solid #fff;
            border-radius: 25px;
    
            & a {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
            }
            
            hr {
                color: #fff;
                width: 100%;
            }
        }
}



/* favorite section style */
.favorite {
    width: 100%;
    padding: 9% 0;
    background-color: #FDE24F;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid #000;

    & h3 {
        font-size: 34px;
        font-weight: 500;

        & span {
            font-style: italic;
            font-weight: 400;
        }
    }

    img {
        width: 100%;
    }
}

/* feature section style */
.feature {
    width: 100%;
    padding: 9% 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 60px 5%;
    border-bottom: 1px solid #000;

    & .feature-h3 {
        font-size: 32px;
        font-weight: 500;
        text-align: left;
    }

    .container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 70px;

        & .col1 {
            padding: 30px 10px;
            align-items: center;
            display: flex;
            flex-direction: column;

            & h3 {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: #535353;
                padding: 0 20px;
            }

            .link {
                width: fit-content;
                text-align: center;
                margin-top: 30px;

                & a {
                    font-size: 16px;
                    font-weight: 500;
                    color: #161616;
                }
            }
        }

        .col-hr {
            width: 120px;
        }
    }

    .feature-btn {
        padding: 8px 18px;
        border: 1.5px solid #000;
        border-radius: 30px;
        color: #000;
    }
}

/* trade section style */
.trade-section {
    width: 100%;   
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trade-section p {
    font-size: 20px;
    font-weight: 500;
}

.trade-section .buy-btn,
.trade-section .sell-btn {
    text-align: center;
}

.trade-section .buy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    border-right: 1px solid #000;
    padding: 5% 5%;
}

.trade-section .buy h3 {
    font-size: 32px;
    font-weight: 500;
    padding: 30px 0;
}

.trade-section .buy-details {
    display: flex;
    flex-direction: column;
}

.trade-section .buy-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 40px 10px 0px;
}

.trade-section .sell {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 50%;
    margin-left: 40px;
    padding: 5% 5%;

}

.trade-section .sell h3 {
    font-size: 32px;
    font-weight: 500;
    padding: 30px 0;
}

.trade-section .sell-details {
    display: flex;
    flex-direction: column;
}

.trade-section .sell-details div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
}

.trade-section button {
    text-decoration: none;
    border: none;
    outline: none;
    padding: 12px 30px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    margin-top: 20px;
}